@mixin respond($breakpoint) {

  @if $breakpoint == xs {
    @media only screen and (max-width: 37.5em /* 600px */) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media only screen and (max-width: 56.25em /* 900px */) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (max-width: 75em /* 1200px */) {
      @content;
    }
  }

  // lg = (75em, 112.5em)

  @if $breakpoint == xl {
    @media only screen and (min-width: 112.5em /* 1800px */) {
      @content;
    }
  }

}
