<div class="avatar">
  <div class="person" #person>
    <img src="assets/img/businesswoman.svg" alt="">
    <div class="person__eyes">
      <span class="person__eye person__eye--right">
        <span #pupil class="person__pupil"></span>
      </span>
      <span class="person__eye person__eye--left">
        <span #pupil class="person__pupil"></span>
      </span>
    </div>
    <div class="person__mouth">
      <img #mouth src="assets/img/neutral.svg" alt="">
    </div>
  </div>
  <div class="desk" #desk>
    <img src="assets/img/desk.svg" alt="">
    <div class="conversation">
      <div #conversationHistory class="conversation__history">
        <ng-container *ngFor="let message of conversation">
          <div class="conversation__message" [class]="message.sender === 'user' ? 'conversation__message--user' : 'conversation__message--server'">
            {{ message.content }}
          </div>
        </ng-container>
      </div>
      <form [formGroup]="form" class="conversation__form">
        <textarea formControlName="question" #textarea rows="4" class="conversation__textarea" placeholder="Zadaj pytanie..."></textarea>
      </form>
    </div>
  </div>
</div>
