@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.avatar {
  position: relative;
  margin: 0 auto;
  width: 60rem;
  height: 71.25rem;
}

.person {
  position: absolute;
  height: 33.75rem;
  left: 6rem;

  & > img {
    height: 100%;
  }

  &__eyes {
    position: absolute;
    top: 9.15rem;
    left: 13.125rem;
    width: 7.35rem;
    display: flex;
    justify-content: space-between;
  }

  &__eye {
    display: inline-block;
    width: 3rem;
    height: 1.8rem;
    background-color: #fff;
    border-radius: 50%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    position: relative;
    overflow: hidden;

    &--left {
      border-top-right-radius: 60%;
      border-top-left-radius: 50%;
    }

    &--right {
      border-top-left-radius: 60%;
      border-top-right-radius: 50%;
    }
  }

  &__pupil {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #2c3e50;
  }

  &__mouth {
    position: absolute;
    top: 13.25rem;
    left: 15rem;
    width: 3.5rem;

    & > img {
      max-width: 100%;
    }
  }
}

.desk {
  position: absolute;
  height: 60rem;
  top: 11.25rem;

  & > img {
    height: 100%;
  }
}

.conversation {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  height: 39rem;
  display: flex;
  flex-direction: column;
  width: 90%;

  &__history {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    margin-top: 4rem;
  }

  &__message {
    padding: 1rem 1.5rem;
    margin: .3rem 0;
    border-radius: 10px;
    max-width: 80%;
    background-color: #fff;
    line-break: anywhere;
    font-size: 1.4rem;

    &--user {
      align-self: flex-end;
      background-color: #dbe0e0;
      animation: fadeInUserMessage .5s;
    }

    &--server {
      align-self: flex-start;
      background-color: #fff;
      animation: fadeInServerMessage .5s;
    }
  }

  &__textarea {
    background-color: transparent;
    padding: 1rem;
    border: none;
    resize: none;
    word-wrap: break-word;
    word-break: break-all;
    width: 54rem;
    font-family: 'Fira Mono', monospace;
    font-size: 1.4rem;

    &:focus {
      border: none;
      outline: none;
    }
  }

}

@keyframes fadeInUserMessage {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInServerMessage {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
