.background {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__middle {
    height: 95rem;
    flex-grow: auto;
    background-image: url('/assets/img/partial-background.png');
    background-size: auto 100%;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 10rem;
    background-image: url('/assets/img/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }

  &__top {
    background-color: #f4f4f4;
    flex-grow: 1;
  }

  &__bottom {
    background-color: #2f3640;
    flex-grow: 1;
  }
}
