<div class="background">
  <div class="background__top"></div>
  <div class="background__middle">
    <div class="background__main">
      <app-avatar></app-avatar>
    </div>
  </div>
  <div class="background__bottom"></div>
</div>

