@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(md) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(xs) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
}
